.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border: 0.1rem solid $translucent-black;
  border-radius: 0.25rem;
  margin: $intercard 0;
}

.card-body {
  flex: 1 1 auto;
  padding: $card-padding;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.book-info {
  flex: 0 0 75%;
  max-width: 100%;
}

.progress {
  max-width: $xlarge * 2;
  padding: $large;
}