.current-chapter {
  opacity: 0.5;
  font-family: "Roboto Slab", serif;
  font-size: $small;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $black;
}

.current-lesson {
  font-family: "Roboto Slab", serif;
  font-size: $medium;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.0.4rem;
  color: $black;
}