.panel-bg {
  height: 9.5rem;
  background-color: #ffffff;
  display: flex;
}

.Bookstore-CMS {
  width: 24rem;
  height: 3.7rem;
  font-family: "Montserrat";
  font-size: $large;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $light-blue;
  margin-left: $side-pad;
}
