.update-btn {
  width: 184px;
  height: 33px;
  border-radius: 3px;
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
}
.update-btn-primary {
  color: #ffffff;
  background-color: #0290ff;
  border-color: #0290ff;
}
