// All base styles and general styles
html {
  font-size: 62.5%;
}

body {
  font-size: $regular;
  background-color: #f5f6fa;
}
button {
  border: none;
  background: transparent;
  text-transform: none;
  overflow: visible;
}
