// All base styles and general styles
html {
  font-size: 62.5%;
}

body {
  font-size: $regular;
  background-color: #f5f6fa;
}

button {
  border: none;
  background: transparent;
  text-transform: none;
  overflow: visible;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

#container {
  margin: 0 10rem;
}