// Sizes and widths:
$small: 1.3rem;
$regular: 1.6rem;
$medium: 2.2rem;
$large: 3rem;
$xlarge: 4rem;
$side-pad: 10rem;
$intercard: 1.5rem;
$card-padding: 1.25rem;
// Colors:
$deep-blue: #007bff;
$deep-red: #6d1216;
$light-blue: #0290ff;
$black: #121212;
$translucent-black: rgba(0, 0, 0, 0.115);
$translucent-gray: rgba(0, 0, 0, 0.55);
$white: #fff;